
/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.bg-text h1 {
		font-size: 40px;
	}
	.bg-btn {
		padding: 10px 25px;
	}
	.case_button .case-btn {
		padding: 15px 20px;
		font-size: 13px;
	}
	.counte_area .counter_single h6 {
		font-size: 13px;
	}
	.clients_slider .owl-nav {
		margin-top: 80px;
	}
	.copyright_text p {
		font-size: 14px;
	}
	.footer_link ul li a {
		font-size: 14px;
	}
}	
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.main-menu .nav-menu ul li{
		margin-left: 20px;
	}
	.main-menu .nav-menu ul li a{
		padding: 20px 0;
		font-size: 13px;
	}
	.bg-padding {
	  	padding: 100px 0;
	}
	.bg-button {
		margin-bottom: 60px;
	}
	.bg-btn {
		padding: 15px 35px;
		font-size: 14px;
		margin-right: 15px;
	}
	.why-box {
		padding: 50px 30px 30px 30px;
		margin-bottom: 60px;
		width: 300px;
		float: left;
		margin-right: 15px;
		margin-left: 15px;
	}
	.why-icon {
		left: 60px;
		top: -35px;
	}
	.about-left {
		margin-bottom: 60px;
	}
	.about-play {
		top: 47%;
		left: 45%;
	}
	.about-play .play-btn {
		width: 70px;
		height: 70px;
		line-height: 70px;
	}
	.service-info h4 {
		font-size: 16px;
	}
	.service_slider .owl-prev {
		top: 100%;
		left: 42%;
	}
	.service_slider .owl-next {
		top: 100%;
		left: 50%;
	}
	.case_button {
		text-align: center;
	}
	.case_button .case-btn {
	    padding: 10px 15px;
	    font-size: 14px;
	    margin-right: 3px;
	    margin-bottom: 10px;
	}
	.single_case:hover .case_icon {
	  top: 38%;
	}
	.case_icon {
		left: 25%;
	}
	.counte_area {
	    margin-bottom: 60px;
	}
	.counte_area .counter_single h6 {
	    font-size: 12px;
	}
	.pricing_table{
		margin-bottom: 60px;
	}
	.client_area {
		padding: 20px;
	}
	.client_star {
		right: 20px;
		top: 15px;
	}
	.clients-text {
	    margin-bottom: 60px;
	}
	.clients_slider .owl-prev {
		top: 100%;
		left: 40%;
	}
	.clients_slider .owl-next {
		top: 100%;
		left: 50%;
	}
	.team_area{
		margin-bottom: 60px;
	}
	.contact_img {
	    margin-bottom: 60px;
	}
	.copyright_text {
		text-align: center;
		margin-bottom: 30px;
	}
	.footer_link {
		text-align: center;
	}
	.r_p-b{
		margin-bottom: 60px;
	}
}
/* Mobile Layout: 360px. */
@media only screen and (max-width: 767px) {
	.lds-ellipsis {
		left: 40%;
	}
	.r_p-b{
		margin-bottom: 60px;
	}
	#header-area{
		padding: 10px 0;
	}
	.bg-padding {
	  	padding: 100px 0;
	}
	.bg-button {
		margin-bottom: 80px;
	}
	.bg-btn {
		padding: 10px 15px;
		font-size: 14px;
		margin-right: 15px;
	}
	.why-box {
		padding: 50px 40px 30px 40px;
		margin-bottom: 80px;
	}
	.why-icon {
		left: 60px;
		top: -35px;
	}
	.about-left {
		margin-bottom: 80px;
	}
	.about-play {
		top: 33%;
		left: 39%;
	}
	.about-play .play-btn {
		width: 70px;
		height: 70px;
		line-height: 70px;
	}
	.service-info h4 {
		font-size: 16px;
	}
	.service_slider .owl-prev {
		top: 115%;
		left: 30%;
	}
	.service_slider .owl-next {
		top: 115%;
		left: 50%;
	}
	.case_button {
		text-align: center;
	}
	.case_button .case-btn {
	    padding: 10px 15px;
	    font-size: 14px;
	    margin-right: 3px;
	    margin-bottom: 10px;
	}
	.case_button .case-btn:first-child{
	  	border-top-left-radius: 0px;
	  	border-bottom-left-radius: 0px;
	}
	.case_button .case-btn:last-child{
	  	border-top-right-radius: 0px;
	  	border-bottom-right-radius: 0px;
	}
	.single_case:hover .case_icon {
	  top: 35%;
	}
	.case_icon {
		left: 22%;
	}
	.counte_area {
	    margin-bottom: 80px;
	}
	.counte_area .counter_single {
	    text-align: center;
	}
	.counte_area .counter_single h6 {
	    font-size: 11px;
	}
	.pricing_table{
		margin-bottom: 80px;
	}
	.client_area {
		padding: 20px;
	}
	.client_star {
		right: 20px;
		top: 15px;
	}
	.clients-text {
	    margin-bottom: 80px;
	}
	.clients_slider .owl-prev {
		top: 115%;
		left: 30%;
	}
	.clients_slider .owl-next {
		top: 115%;
		left: 50%;
	}
	.team_area{
		margin-bottom: 60px;
	}
	.contact_img {
	    margin-bottom: 80px;
	}
	.copyright_text {
		text-align: center;
		margin-bottom: 30px;
	}
	.footer_link {
		text-align: center;
	}
	.demo_bg_text h1{
		font-size: 22px;
	}
	.demo_area{
		margin-bottom: 60px;
	}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.about-play {
		position: absolute;
		top: 40%;
		left: 43%;
	}
	.single_case:hover .case_icon {
	  top: 40%;
	}
	.case_icon {
		left: 33%;
	}
}
/* Mobile Layout: 500px. */
@media only screen and (min-width: 500px) and (max-width: 767px) {
	.sidenav_menu{
		width: 40%;
	}
}