/*===============1. Googole Fonts =====================*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700&subset=latin-ext');

/*===============2. html tags css =====================*/
 html {
  font-size: 100%;
  height: 100%;
}
body {
  font-family: 'Open Sans Condensed', sans-serif;;
  font-size: 16px;
  font-weight: 400 !important;
  line-height: 22px;
  color: #787878;
  overflow-x: hidden;
  width: 100%;
  /* height: 100%; */
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  *text-transform: capitalize;
  color: #787878;
}
h1 {
  font-size: 36px;
  letter-spacing: .05em;
  margin-bottom: 50px;
  text-transform: none;
}
h3 {
  font-size: 16px;
  margin-bottom: 50px;
}
h2 {
  font-size: 24px;
  margin-bottom: 50px;
}
h4 {
  font-size: 20px;
}
p {
  font-size: 18px;
  letter-spacing: .05em;
  margin: 0 0 18px 0;
}
button {
  cursor: pointer;
  border: none;
}
button:focus{-webkit-border: none;
  border: none;
}
button:focus{
  outline: none;
}
input,textarea{
  outline: none;
}
textarea{
  margin: 0;
}
section {
  overflow-x: hidden;
}


/*===============3. custom styles =====================*/

.body {
  /* height: 100vh; */
}
#sidebar {
    background-color: #f6f6f6;
    transition: all 0.5s;
    min-height: calc(100vh - 58px);
    padding-top: 60px;
    margin-right: -1em;
    width: 200px;
}
#logo {
  width: 80%;
  padding: 15% 3%;
}
.ck {
  font-size: 1.3em;
  width: 100%;
}
.ck thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #434857;
}
.ck th, .ck td {
    padding: 0.5em;
    vertical-align: top;
    border-bottom: 1px solid #434857;
}
.ck tbody tr:hover {
    background-color: #f6f6f6;
}
.clickable-row:hover {
    cursor: pointer;
}
.header-sort-up, .header-sort-down {
    white-space: nowrap;
    cursor: pointer;
    font-weight: 700 !important;
    color: #0094b4 !important;
    border-bottom-color: #0094b4 !important;
}
th {
    text-align: inherit;
}
.header-sort- a {
  color: inherit;
}
.header-sort-up:before {
    border-top: 5px solid;
}
.header-sort-down:before {
    border-bottom: 5px solid;
}
.header-sort-up:before, .header-sort-down:before {
    display: inline-block;
    width: 0;
    height: 0;
    content: "";
    margin-left: -10px;
    margin-bottom: 2px;
    margin-right: 5px;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}
.filters {
  cursor: pointer;
}
.filters h2:after, #select-icons label:after {
    display: inline-block;
    width: 0;
    height: 0;
    content: "";
    margin-left: 5px;
    margin-bottom: 2px;
    margin-right: 5px;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: none;
    border-bottom: 5px solid;
}
.filters.open h2:after, #select-icons.open label:after {
    display: inline-block;
    width: 0;
    height: 0;
    content: "";
    margin-left: 5px;
    margin-bottom: 2px;
    margin-right: 5px;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 5px solid;
    border-bottom: none;
}
#select-icons.open ul {
    height: 0;
    overflow: hidden;
    transition: all 0.5s;
}
#select-icons ul {
    transition: all 0.5s;
}
.tabak.open {
    height: 120px;
    overflow: hidden;
    transition: all 0.5s;
}
.tabak {
    transition: all 0.5s;
}
.linije {
  border-top: 1px solid #434857;
  border-bottom: 1px solid #434857;
  padding-top: 10px;
}
/*===============4. bootstrap redefine css =====================*/

.btn-primary {
  color:#f2ebcd;
  font-weight: 500;
  background-color:#0094b4;
  border-color:#0094b4;
  min-width: 140px;
}
.btn-primary:hover {
  color:#fff;
  background-color:#0084a4;
  border-color:#0084a4;
}
.btn-primary.focus,.btn-primary:focus {
  box-shadow:0 0 0 .2rem rgba(0,123,255,.5)
}
.btn-secondary {
  color:#f2ebcd;
  font-weight: 500;
  background-color:#868686;
  border-color:#868686;
  min-width: 140px;
}
.btn-secondary:hover {
  color:#fff;
  background-color:#6e6f6f;
  border-color:#6e6f6f;
}
.btn-secondary.focus,.btn-secondary:focus {
  box-shadow:0 0 0 .2rem rgba(0,123,255,.5)
}
.btn-danger {
  color:#f2ebcd;
  font-weight: 500;
  background-color:#941111;
  border-color:#941111;
  min-width: 140px;
}
.btn-danger:hover {
  color:#fff;
  background-color:#710e0e;
  border-color:#710e0e;
}
.btn-danger.focus,.btn-danger:focus {
  box-shadow:0 0 0 .2rem rgba(0,123,255,.5)
}


.text-primary{color:#0094b4!important}a.text-primary:focus,a.text-primary:hover{color:#0084a4!important}
.text-secondary{color:#868686!important}a.text-secondary:focus,a.text-secondary:hover{color:#868686!important}
.text-danger{color:#941111!important}a.text-danger:focus,a.text-danger:hover{color:#941111!important}

.nav-pills .nav-link {
  margin: 5px 0;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #0094b4;
}
.nav-pills .nav-link:hover, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #0094b4;
}
.nav-pills .nav-link {
    color: #fff;
    background-color: #999;
}
nav {
  width: 100%;
}

/* 10. News ============================================================================================================*/

.news-box {
  display:inline-block;
  border-radius: 4px;
  width: 130px;
  height: 130px;
  padding: 15px;
  overflow: hidden;
  margin: 5px;
  padding-top: 30px;
}
.news a {
  color: #fff;
}
.news-box h4 {
  font-family: 'Oswald', 'Quicksand', sans-serif;
  font-size: 18px;
  color: #fff;
  height: 43.2px;
  align-self: bottom;
}
.bg-color-turquise {
  background-color: #11acc4 !important;
}
.bg-color-magenta {
  background-color: #b51e66 !important;
}
.news-image-container {
  width: 80px;
  height: 80px;
  overflow: hidden;
  text-align: center;
}
.news-image-container img {
  height: 80px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

/*===============5. mediaqueries =====================*/
@media (max-width: 576px) { 
  
}

@media (max-width: 768px) { 

}

@media (max-width: 992px) { 

}

@media (max-width: 1199px) { 

}

@media (max-width: 1220px) { 

}








